.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    position: sticky;
    top: 0;
    background: white;
}

.logo{
    font-weight: 700; 
    font-size: 45px;
    color: var(--main-color)
}

.pointer:hover{
    cursor: pointer;
}

.lock-button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    background: var(--main-color)
}

.lock-icon{
    fill: white; 
    margin-right: 20px
}

.cards-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.password-pop-up{
    background: white;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    position: sticky;
    margin-top: -300px;
    top: 30%;
    left: 33%;
    z-index: 1;
}

form{
    display: grid;
    justify-items: center;
    align-items: center;
}

.button{
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    background: var(--main-color);
    border: none;
    font-family: 'Roboto Mono', monospace;
}

.search-bar{
    padding: 10px 20px;
    font-family: 'Roboto Mono', monospace;
    width: 20vw;
}

/* .card-item:hover{
    box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.2);
} */